html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.App {
  background-color: rgb(245, 245, 245);
  min-height: 100vh;
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background-color: #24292e;
  color: white;
}
.navBar ul {
  display: flex;
  justify-content: space-around;
  width: 30%;
  list-style: none;
}
.navBar li {
  color: rgb(218, 218, 218);
  cursor: pointer;
}
.errResp {
  font-size: small;
  color: rgb(209, 36, 36);
}
.succResp {
  font-size: small;
  color: rgb(36, 209, 59);
}
.sidenav {
  padding-top: 20px;
  min-height: 100vh;
  text-align: center;
  background-color: rgb(235, 235, 235);
  margin-left: 0;
}
.sidenav .sidebar-heading {
  padding: 0.875rem 1.25rem;
  color: rgb(27, 31, 34);
  font-size: 1.2rem;
}

.sidenav .list-group {
  border-top: solid 1px rgb(209, 209, 209);
}

.sidenav .list-item {
  padding: 10px;

  border-bottom: solid 1px rgb(209, 209, 209);
}
.sidenav .list-item:hover {
  background-color: rgb(245, 245, 245);
  cursor: pointer;
  transition: 0.2s ease-in;
}
.selected {
  background-color: rgb(245, 245, 245);
}
/* #sidebar-wrapper .list-group {
  width: 15rem;
} */
.nav a {
  color: grey;
}
.nav a:hover {
  color: #24292e;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: rgb(255, 255, 255) !important;
  color: #24292e !important;
  border-bottom: 3px solid #24292e !important;
  font-size: 18px;
}
.assignedTaskForm input,
textarea {
  width: 100%;
  padding: 2px 5px;
  margin: 2px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[disabled],
textarea[disabled] {
  border: 0;
  background-color: rgb(245, 245, 245);
}
.editDelete {
  float: right;
  border-radius: 100px;
  background-color: white;
  padding: 5px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.55);
  cursor: pointer;
}
.editDelete:hover {
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.55);
  transition: 0.1s ease-in-out;
}
.customCol {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
